<span ng-show="item.ability_to_communicate">
    [[ item.ability_to_communicate ]]
   <br />
</span>
<span ng-show="item.ability_to_cooperate">
    [[ item.ability_to_cooperate ]]
   <br />
</span>
<span ng-show="item.medical_status">
    [[ item.medical_status ]]
   <br />
</span>
<span ng-show="item.oral_risk_factors">
    [[ item.oral_risk_factors ]]
   <br />
</span>
<span ng-show="item.access_to_oral_care">
    [[ item.access_to_oral_care ]]
   <br />
</span>
<span ng-show="item.legal_and_ethical_barriers_to_care">
    [[ item.legal_and_ethical_barriers_to_care ]]
   <br />
</span>