{% load odonto_subrecords %}
<div class="row">
  <div class="col-md-6">
    <table ng-controller="CaseMixHelper as caseMixHelper" class="table table-striped">
      {% table_row_field_display "CaseMix.ability_to_communicate" %}
      {% table_row_field_display "CaseMix.ability_to_cooperate" %}
      {% table_row_field_display "CaseMix.medical_status" %}
      {% table_row_field_display "CaseMix.oral_risk_factors" %}
      {% table_row_field_display "CaseMix.access_to_oral_care" %}
      {% table_row_field_display "CaseMix.legal_and_ethical_barriers_to_care" %}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Maximum Score</td>
        <td class="subrecord-row-value">[[ caseMixHelper.maxCode(item) ]]</td>
      </tr>
      <tr>
        <td>Banded Total Score</td>
        <td class="subrecord-row-value">[[ caseMixHelper.band(item) ]] ([[ caseMixHelper.totalScore(item) ]])</td>
      </tr>
    </table>
  </div>
</div>
