<div class="extraction-chart">
  <div class="row">
    <div class="col-md-6">
      <div class="row upper">
        <div class="col-md-6 patient-right">
          &nbsp;
          <span ng-show="item.ur_e">E</span>
          <span ng-show="item.ur_d">D</span>
          <span ng-show="item.ur_c">C</span>
          <span ng-show="item.ur_b">B</span>
          <span ng-show="item.ur_a">A</span>
          <span ng-show="item.ur_9">9</span>
          <span ng-show="item.ur_8">8</span>
          <span ng-show="item.ur_7">7</span>
          <span ng-show="item.ur_6">6</span>
          <span ng-show="item.ur_5">5</span>
          <span ng-show="item.ur_4">4</span>
          <span ng-show="item.ur_3">3</span>
          <span ng-show="item.ur_2">2</span>
          <span ng-show="item.ur_1">1</span>
        </div>
        <div class="col-md-6">
            <span ng-show="item.ul_1">1</span>
            <span ng-show="item.ul_2">2</span>
            <span ng-show="item.ul_3">3</span>
            <span ng-show="item.ul_4">4</span>
            <span ng-show="item.ul_5">5</span>
            <span ng-show="item.ul_6">6</span>
            <span ng-show="item.ul_7">7</span>
            <span ng-show="item.ul_8">8</span>
            <span ng-show="item.ul_9">9</span>
            <span ng-show="item.ul_a">A</span>
            <span ng-show="item.ul_b">B</span>
            <span ng-show="item.ul_c">C</span>
            <span ng-show="item.ul_d">D</span>
            <span ng-show="item.ul_e">E</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 patient-right">
          &nbsp;
          <span ng-show="item.lr_e">E</span>
          <span ng-show="item.lr_d">D</span>
          <span ng-show="item.lr_c">C</span>
          <span ng-show="item.lr_b">B</span>
          <span ng-show="item.lr_a">A</span>
          <span ng-show="item.lr_9">9</span>
          <span ng-show="item.lr_8">8</span>
          <span ng-show="item.lr_7">7</span>
          <span ng-show="item.lr_6">6</span>
          <span ng-show="item.lr_5">5</span>
          <span ng-show="item.lr_4">4</span>
          <span ng-show="item.lr_3">3</span>
          <span ng-show="item.lr_2">2</span>
          <span ng-show="item.lr_1">1</span>
        </div>
        <div class="col-md-6">
          <span ng-show="item.ll_1">1</span>
          <span ng-show="item.ll_2">2</span>
          <span ng-show="item.ll_3">3</span>
          <span ng-show="item.ll_4">4</span>
          <span ng-show="item.ll_5">5</span>
          <span ng-show="item.ll_6">6</span>
          <span ng-show="item.ll_7">7</span>
          <span ng-show="item.ll_8">8</span>
          <span ng-show="item.ll_9">9</span>
          <span ng-show="item.ll_a">A</span>
          <span ng-show="item.ll_b">B</span>
          <span ng-show="item.ll_c">C</span>
          <span ng-show="item.ll_d">D</span>
          <span ng-show="item.ll_e">E</span>
        </div>
      </div>
    </div>
  </div>
</div>