<div class="row">
  <div class="col-md-3">
    Incomplete Treatment
  </div>
  <div class="col-md-9">
    <b>[[ item.incomplete_treatment ]]</b>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    Date of acceptance:
  </div>
  <div class="col-md-9">
    <b>[[ item.date_of_acceptance | displayDate ]]</b>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    Date of completion or last visit:
  </div>
  <div class="col-md-9">
    <b>[[ item.completion_or_last_visit | displayDate ]]</b>
  </div>
</div>
