<div class="row">

  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
        <td>
          Scale and polish
        </td>
        <td>
          <span ng-show="item.scale_and_polish">X</span>
        </td>
      </tr>
      <tr>
        <td>
          Fluoride varnish
        </td>
        <td>
          <span ng-show="item.fluoride_varnish">X</span>
        </td>
      </tr>
      <tr>
        <td>
          Fissure sealants
        </td>
        <td>
          [[ item.fissure_sealants ]]
        </td>
      </tr>
      <tr>
        <td>
          Radiographs taken
        </td>
        <td>
          [[ item.radiographs_taken ]]
        </td>
      </tr>
      <tr>
        <td>
          Endodontic treatment
        </td>
        <td>
          [[ item.endodontic_treatment ]]
        </td>
      </tr>
      <tr>
        <td>
          Permanent fillings
        </td>
        <td>
          [[ item.permanent_fillings ]]
        </td>
      </tr>
      <tr>
        <td>
          Pre-Formed Crowns
        </td>
        <td>
          [[ item.pre_formed_crowns ]]
        </td>
      </tr>
      <tr>
        <td>
          Extractions
        </td>
        <td>
          [[ item.extractions ]]
        </td>
      </tr>
      <tr>
        <td>
          Crowns provided
        </td>
        <td>
          [[ item.crowns_provided ]]
        </td>
      </tr>
      <tr>
        <td>
          Upper denture acrylic
        </td>
        <td>
          [[ item.upper_denture_acrylic ]]
        </td>
      </tr>
      <tr>
        <td>
          Lower denture acrylic
        </td>
        <td>
          [[ item.lower_denture_acrylic ]]
        </td>
      </tr>
      <tr>
        <td>
          Upper denture metal
        </td>
        <td>
          [[ item.upper_denture_metal ]]
        </td>
      </tr>
      <tr>
        <td>
          Lower denture metal
        </td>
        <td>
          [[ item.lower_denture_metal ]]
        </td>
      </tr>
      <tr>
        <td>
          Veneers applied
        </td>
        <td>
          [[ item.veneers_applied ]]
        </td>
      </tr>
      <tr>
        <td>
          Inlays
        </td>
        <td>
          [[ item.inlays ]]
        </td>
      </tr>
      <tr>
        <td>
          Bridges fitted
        </td>
        <td>
          [[ item.bridges_fitted ]]
        </td>
      </tr>
      <tr>
        <td>
          Referral for advanced mandatory services band
        </td>
        <td>
          [[ item.referral_for_advanced_mandatory_services_band ]]
        </td>
      </tr>
      <tr>
        <td>
          Advanced perio root surface debridement
        </td>
        <td>
          [[ item.advanced_perio_root_surface_debridement ]]
        </td>
      </tr>
      <tr>
        <td>
          Examination
        </td>
        <td>
          <span ng-show="item.examination">X</span>
        </td>
      </tr>
      <tr>
        <td>
          Antibiotic items prescribed
        </td>
        <td>
          [[ item.antibiotic_items_prescribed ]]
        </td>
      </tr>
      <tr>
        <td>
          Aerosol generating procedures
        </td>
        <td>
          [[ item.aerosol_generating_procedures ]]
        </td>
      </tr>
      <tr>
        <td>
          Other treatment
        </td>
        <td>
          <span ng-show="item.other_treatment">X</span>
        </td>
      </tr>
      <tr>
        <td>
          Best practice prevention according to Delivering Better Oral Health offered
        </td>
        <td>
          <span ng-show="item.best_practice_prevention">X</span>
        </td>
      </tr>
      <tr>
        <td>
          Decayed teeth permanent
        </td>
        <td>
          [[ item.decayed_teeth_permanent ]]
        </td>
      </tr>
      <tr>
        <td>
          Decayed teeth deciduous
        </td>
        <td>
          [[ item.decayed_teeth_deciduous ]]
        </td>
      </tr>
      <tr>
        <td>
          Missing teeth permanent
        </td>
        <td>
          [[ item.missing_teeth_permanent ]]
        </td>
      </tr>
      <tr>
        <td>
          Missing teeth deciduous
        </td>
        <td>
          [[ item.missing_teeth_deciduous ]]
        </td>
      </tr>
      <tr>
        <td>
          Filled teeth permanent
        </td>
        <td>
          [[ item.filled_teeth_permanent ]]
        </td>
      </tr>
      <tr>
        <td>
          Filled teeth deciduous
        </td>
        <td>
          [[ item.filled_teeth_deciduous ]]
        </td>
      </tr>
      <tr>
        <td>
          Custom made occlusal appliance
        </td>
        <td>
          [[ item.custom_made_occlusal_appliance ]]
        </td>
      </tr>
      <tr>
        <td>
          Denture Additions/Reline/Rebase
        </td>
        <td>
          <span ng-show="item.denture_additions_reline_rebase">X</span>
        </td>
      </tr>
      <tr>
        <td>
          Phased treatment
        </td>
        <td>
          <span ng-show="item.phased_treatment">X</span>
        </td>
      </tr>
    </table>
  </div>
</div>
