<div class="row">
  <div class="col-md-3">
    Provider:
  </div>
  <div class="col-md-9">
    <b>[[ item.provider_name ]]</b>
  </div>
</div>
<div class="row">
  <Div class="col-md-3">
    Location:
  </div>
  <div class="col-md-9">
    <b>[[ item.provider_location_number ]]</b>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    Performer:
  </div>
  <div class="col-md-9">
    <b>[[ item.performer ]]</b>
  </div>
</div>
{% if pathway %}
<div ng-show="editing.fp17_commissioning.flexible_commissioning" class="row">
  <div class="col-md-3">
    Flexible commissioning:
  </div>
  <div class="col-md-9">
    <b>[[ editing.fp17_commissioning.flexible_commissioning ]]</b>
  </div>
</div>
{% else %}
<div ng-show="episode.fp17_commissioning[0].flexible_commissioning" class="row">
  <div class="col-md-3">
    Flexible commissioning:
  </div>
  <div class="col-md-9">
    <b>[[ episode.fp17_commissioning[0].flexible_commissioning ]]</b>
  </div>
</div>
{% endif %}
