<span ng-show="item.incomplete_treatment_band_1">
     Incomplete Treatment Band 1
   <br />
</span>
<span ng-show="item.incomplete_treatment_band_2">
     Incomplete Treatment Band 2
   <br />
</span>
<span ng-show="item.incomplete_treatment_band_3">
     Incomplete Treatment Band 3
   <br />
</span>
<span ng-show="item.date_of_acceptance">
  Date of Acceptance: [[ item.date_of_acceptance | shortDate ]]
   <br />
</span>
<span ng-show="item.completion_or_last_visit">
  Date of Completion: [[ item.completion_or_last_visit | shortDate ]]
   <br />
</span>
