{% load odonto_subrecords %}
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      {% table_row_field_display "OrthodonticTreatment.completion_type" %}
      {% table_row_field_display "OrthodonticTreatment.par_scores_calculated" %}
      {% table_row_field_display "OrthodonticTreatment.iotn" %}
      {% table_row_field_display "OrthodonticTreatment.aesthetic_component" %}
      {% table_row_field_display "OrthodonticTreatment.repair" %}
      {% table_row_field_display "OrthodonticTreatment.replacement" %}
      {% table_row_field_display "OrthodonticTreatment.date_of_completion" %}
    </table>
  </div>
</div>

