{% load odonto_subrecords %}
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      {% table_row_field_display "OrthodonticDataSet.radiograph" %}
      {% table_row_field_display "OrthodonticDataSet.aerosol_generating_procedures" %}
      {% table_row_field_display "OrthodonticDataSet.removable_upper_appliance" %}
      {% table_row_field_display "OrthodonticDataSet.removable_lower_appliance" %}
      {% table_row_field_display "OrthodonticDataSet.fixed_upper_appliance" %}
      {% table_row_field_display "OrthodonticDataSet.fixed_lower_appliance" %}
      {% table_row_field_display "OrthodonticDataSet.retainer_upper" %}
      {% table_row_field_display "OrthodonticDataSet.retainer_lower" %}
    </table>
  </div>
</div>
