{% if item.patient_failed_to_return %}
     Treatment abandoned - patient failed to return
   <br />
{% endif %}
{% if item.patient_requested_stop %}
     Treatment abandoned - patient requested
   <br />
{% endif %}
{% if item.treatment_discontinued %}
     Treatment Discontinued
   <br />
{% endif %}
{% if item.treatment_completed %}
     Treatment Completed
   <br />
{% endif %}
{% if item.par_scores_calculated %}
     PAR
   <br />
{% endif %}
{% if item.iotn %}
    {{ item.iotn }}
   <br />
{% endif %}
{% if item.aesthetic_component %}
    {{ item.aesthetic_component }}
   <br />
{% endif %}
{% if item.iotn_not_applicable %}
     IOTN not applicable
   <br />
{% endif %}
{% if item.repair %}
     Repair to appliance fitted by another dentist
   <br />
{% endif %}
{% if item.replacement %}
     Regulation 11 replacement appliance
   <br />
{% endif %}
{% if item.date_of_completion %}
   {{ item.date_of_completion  }}
   <br />
{% endif %}
