{% if item.radiograph %}
    {{ item.radiograph }}
   <br />
{% endif %}
{% if item.removable_upper_appliance %}
     Removable Upper Appliance
   <br />
{% endif %}
{% if item.removable_lower_appliance %}
     Removable Lower Appliance
   <br />
{% endif %}
{% if item.fixed_upper_appliance %}
     Fixed Upper Appliance
   <br />
{% endif %}
{% if item.fixed_lower_appliance %}
     Fixed Lower Appliance
   <br />
{% endif %}
{% if item.function_appliance %}
     Function Appliance
   <br />
{% endif %}
{% if item.retainer_upper %}
     Retainer Upper
   <br />
{% endif %}
{% if item.retainer_lower %}
     Retainer Lower
   <br />
{% endif %}
{% if item.extractions_upper_right %}
    {{ item.extractions_upper_right }}
   <br />
{% endif %}
{% if item.extractions_upper_left %}
    {{ item.extractions_upper_left }}
   <br />
{% endif %}
{% if item.extractions_lower_right %}
    {{ item.extractions_lower_right }}
   <br />
{% endif %}
{% if item.extractions_lower_left %}
    {{ item.extractions_lower_left }}
   <br />
{% endif %}
