{% extends "opal.html" %}
{% load links %}
{% load odonto_subrecords %}

{% block odonto_viewport %}
  <div class="content-offset">
    {% with object.patient.demographics as demographics %}
      <h1>{{ demographics.name }} - FP17</h1>

      {% subrecord_row models.Fp17DentalCareProvider %}
      {% subrecord_row models.Fp17IncompleteTreatment %}
      {% subrecord_row models.Fp17Exemptions %}
      {% subrecord_row models.Fp17ClinicalDataSet %}
      {% subrecord_row models.Fp17OtherDentalServices %}
      {% subrecord_row models.Fp17TreatmentCategory %}
      {% subrecord_row models.Fp17Recall %}
      {% subrecord_row models.CaseMix %}
{% endwith %}
  </div>
{% endblock %}
