{% extends 'app_layouts/layout_base.html' %}
{% load links %}


{% block navbar %}{% include 'navbar.html' %}{% endblock %}

{% block content %}
{% now "Y" as current_year %}
{% now "b" as current_month %}
{% now "n" as com %}
{# com is a string so convert it into an int for > or < %}
{% with current_int_month=com|add:"0" %}
  <div class="outer-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id="side-nav">
          <ul class="app-info">
            <li>
              {{ user.first_name }} {{ user.last_name }}
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right clearfix">
            <li ng-class="{active: $location.absUrl().indexOf('add_patient') != -1}">
              {% link_to "Register patient" pathways.AddPatientPathway %}
            </li>
            {% if roles.is_dentist %}
              <li {% if request.resolver_match.url_name == "odonto-unsubmitted-fp17s" %}class="active"{% endif %}>
                <a href="{% url 'odonto-unsubmitted-fp17s' %}">
                  Unsubmitted <span class="badge">{{ episode_counts.unsubmitted }}</span>
                </a>
              </li>
              <li {% if request.resolver_match.url_name == "odonto-open-fp17s" %}class="active"{% endif %}>
                <a href="{% url 'odonto-open-fp17s' %}">
                  Open <span class="badge">{{ episode_counts.open }}</span>
                </a>
              </li>
            {% endif %}
            {% if roles.dental_administrator or request.user.is_superuser %}
            <li {% if request.resolver_match.url_name == "odonto-all-unsubmitted" %}class="active"{% endif %}>
              <a href="{% url 'odonto-all-unsubmitted' %}">
                All unsubmitted <span class="badge hidden-md hidden-lg">{{ episode_counts.all_unsubmitted }}</span>
              </a>
            </li>
            <li {% if request.resolver_match.url_name == "patient-charges" %}class="active"{% endif %}>
              <a href="{% url 'patient-charges' year=current_year month=current_month %}">
                Patient charges
              </a>
            </li>
            {% endif %}
          </ul>
          <div id="logout">
            <ul class="app-info">
              {% if request.user.profile.can_extract %}
              <li {% if request.resolver_match.url_name == "odonto-stats" %}class="active"{% endif %}>
                {% if current_int_month|add:"0" > 3 %}
                <a href="{% url 'odonto-stats' year=current_year %}">
                {% else %}
                <a href="{% url 'odonto-stats' year=current_year|add:'-1' %}">
                {% endif %}
                  Stats
                </a>
              </li>
              {% endif %}
              {% if request.user.profile.can_extract %}
                <li>
                  <a href="/search/#/extract" title="Query">
                    Query
                  </a>
                </li>
              {% endif %}
              {% if request.user.is_superuser %}
                <li>
                  <a href="/admin/" title="Admin">
                    Admin
                  </a>
                </li>
              {% endif %}

              <li>
                <a href="{% url 'logout' %}" title="Log out">
                  Log out
                </a>
              </li>

            </ul>
          </div>
        </div>


        <div class="col-md-10 main-view col-md-offset-2">
          {% block odonto_viewport %}
            <div ng-view autoscroll="true" ng-hide="ready==false"></div>
          {% endblock %}
          {% include 'logout_modal.html' %}
          <div growl></div>
        </div>
      </div>
    </div>
  </div>
{% endwith %}
{% endblock %}
