[Unit]
Description=Circus process manager
After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
ExecReload=/home/ohc/.virtualenvs/odonto/bin/circusctl reload
ExecStart=/home/ohc/.virtualenvs/odonto/bin/circusd /etc/circus/circusd.ini
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target