{% extends 'pathway/templates/page_pathway.html' %}

{% block pathway_body %}
<span ng-show="showSummary === true">
  <div class="row">
    <div class="row"> <!-- Start demographics banner -->
      <div class="col-md-8">
        <p ng-hide="episodeSubmitted">
          Please review the details of this submission before sending to the BSA
        </p>
        <h2 ng-show="episodeSubmitted">
          <strong>
         Submitted to the BSA
          </strong>
        </h2>
      </div>
    </div> <!-- end demographics banner -->
    {% include pathway.summary_template with pathway=1 %}
  </div>
</span>
<span ng-show="showSummary === false">
  {% for step in pathway.get_steps %}
    {% include step.get_base_template %}
    <div class="help-block text-center" ng-show="errors['{{ step.get_api_name }}'].step_error">
      [[ errors['{{ step.get_api_name }}'].step_error ]]
    </div>
  {% endfor %}
</span>
{% endblock %}


{% block pathway_footer %}
<div class="row">
  <div class="text-center" ng-show="isFormValid === false">
    <strong class="help-block">Please fix the above errors</strong>
  </div>
</div>


<div ng-hide="episodeSubmitted" class="row content-offset-below-150">
  <div class="col-md-6">
    <button ng-show="showSummary === false"
      class="btn btn-lg btn-primary btn-save"
      ng-click="showSummary = true"
      ng-disabled="!isFormValid"
    >
      <i class="[[ pathway.finish_button_icon ]]"></i>
      Review
    </button>
    <button ng-show="showSummary === true"
      class="btn btn-lg btn-primary btn-save"
      ng-click="pathway.finish(editing)"
    >
      <i class="[[ pathway.finish_button_icon ]]"></i>
      Submit to the BSA
    </button>
  </div>
</div>
{% endblock pathway_footer %}