<div class="case-mix-popover">
<h5>Moderate legal/ethical difficulties may arise</h5>
<ul>
<li>Fluctuating capacity to consent</li>
<li>Best interests’ decision requires additional correspondence with carers/ relatives</li>
<li>Financial responsibility requires further clarification</li>
<li>Child who is subject to a care order</li>
<li>Child who is the subject of a child protection plan</li>
<li>Parental responsibility requires further clarification</li>
<li>Looked after child</li>
</ul>
</div>