<div class="case-mix-popover">
  <h5>Severe risk factors e.g.</h5>
  <ul>
    <li>
      Extensive support to achieve some aspects of 'Delivering Better Oral
      Health' advice
    </li>
    <li>Oral hygiene relies on 3rd party to maintain</li>
    <li>Child uses non-fluoride toothpaste</li>
    <li>Cariogenic diet resulting in uncontrolled caries</li>
    <li>
      Molar Incisor Hypomineralisation with symptoms or post-eruptive breakdown
    </li>
    <li>Altered salivation</li>
    <li>Access to oral cavity severely restricted</li>
    <li>
      Children with severe dental or craniofacial developmental abnormalities
    </li>
  </ul>
</div>
