{% load links %}
{% load odonto_subrecords %}

{% subrecord_row models.Fp17DentalCareProvider pathway=pathway %}
{% subrecord_row models.Fp17Exemptions pathway=pathway %}
{% subrecord_row models.OrthodonticDataSet pathway=pathway %}
{% subrecord_row models.ExtractionChart pathway=pathway %}
{% subrecord_row models.OrthodonticAssessment pathway=pathway %}
{% subrecord_row models.OrthodonticTreatment pathway=pathway %}
{% subrecord_row models.CovidStatus pathway=pathway %}
{% subrecord_row models.CaseMix pathway=pathway %}



