{% load links %}
{% load odonto_subrecords %}

{% subrecord_row models.Fp17DentalCareProvider pathway=pathway title="Performer name, clinic and commissioning" %}
{% subrecord_row models.Fp17IncompleteTreatment pathway=pathway %}
{% subrecord_row models.Fp17Exemptions pathway=pathway %}
{% subrecord_row models.Fp17ClinicalDataSet pathway=pathway %}
{% subrecord_row models.Fp17OtherDentalServices pathway=pathway %}
{% subrecord_row models.Fp17TreatmentCategory pathway=pathway %}
{% subrecord_row models.Fp17Recall pathway=pathway %}
{% subrecord_row models.CovidStatus pathway=pathway %}
{% subrecord_row models.CaseMix pathway=pathway %}
