/* Odonto wireframe stylings */
body {
    background-color: white;
    font-size: 16px;
}

h2 {
    color: rgb(72, 124, 188);
}

.form-control {
    font-size: 18px;
    height: 48px;
}
.btn-lg {
    padding: 6px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
}

.btn-default small{
  color: #DDD;
}
.navbar-default a.navbar-brand {
    color: white;
}
.navbar-default a.navbar-brand:hover {
    color: #eee;
}

#side-nav .navbar-nav{
    width: 100%;
}

#side-nav {
    background-color: #487DBC;
}


.grey{
  color: #999;
}

.btn-primary {
    background-color: rgb(102, 174, 40);
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus{
    background-color: rgb(216, 143, 33);
    color: white;
}
.navbar-default, .top-navbar {
    border-bottom: none;
}

.top-navbar {
    height: 90px;
    background-color: #487DBC;
}
.nav-bar-search:before {
    top: 10px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-brand img {
    height: 80px;
    margin-top: -15px;
}
#main-navbar {
    margin-top: 20px;
}
.ngProgressLiteBar {
    top: 90px;
    background-color: white;
}
.content-offset {
    margin-top: 100px
}
.pathway-offset {
    margin-top: 80px;
}

.nav-bar-links{
    margin-top: -5px;
}

.nav-bar-odonto-container{
  position: fixed;
  margin-top: -106px;
  z-index: 1040;
  left: 50%;
}
.nav-bar-odonto-title{
  margin-left: -50%;
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.odonto-small-title{
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}

.loading {
  background-color: white;
  height: 100%;
  position: fixed;
  width: 1100%;
  z-index: 100;
  padding-left: 0px;
  margin-left: -20px;
}
.pathway-process-steps-padding {
    margin-top: 60px;
}
.btn-choices button {
  width: 240px;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: rgb(212,212,212);
  color: white;
}

.btn-choices button.active {
  background-color:  rgb(72, 124, 188)
}


.odonto-list {
    margin-top: 90px;
    padding: 20px;
}

.patient-detail-heading h1,
.patient-detail-heading h1 small {
    color: rgb(72, 124, 188);

}
.panel.panel-primary .panel-heading{
    color: black;
}

.odonto-detail {
    margin-top: 100px;
/*     background-color: firebrick */
}
.odonto-detail h2 {
    padding-bottom: 20px;
}

.odonto-detail .panel-default {
    border: none;
}

.panel-primary .panel-default .panel-heading,
.panel-default .panel-heading {
    border-bottom: 3px solid rgb(72, 124, 188);
}

.search-panel.panel.panel-primary .panel-heading {
  background-color: transparent;
  border-bottom: 3px solid rgb(72, 124, 188);
}
.modal-header{
    background-color: rgb(72, 124, 188);
}

.panel.panel-primary .panel-heading a{
    color: #f76c51;
}
.panel.panel-primary .panel-heading a:hover{
    color: #f76c51;
    text-decoration: underline;
}
.panel.panel-primary .panel-heading a.btn{
    color: white;
}
.panel.panel-primary .panel-heading a.btn:hover{
    color: white;
    text-decoration: none;
}

.panel.panel-primary .panel-heading {
    background-color: transparent;
    border-bottom: 3px solid rgb(72, 124, 188);
}

tr.urgent {
    color: firebrick;
    font-weight: bold;
}
.bg-urgent {
    color: white;
    background-color: firebrick;
}
.form-horizontal .control-label,
label{
  text-align: left;
  font-size: 18px;
  color: #999;
  font-weight: normal;
  padding-bottom: 8px;
}


.navbar-brand {
    padding-left: 50px;
}

#side-nav {
  background-color: #124c91;
  background-color: #487DBC;
  height: 100vh
}
#side-nav ul.app-info {
  padding-top: 120px;
  padding-bottom: 30px;
}
.app-info li {
  padding-left: 20px;
  color: white;
}
#side-nav ul.nav li i {
  padding-right: 4px;
}
#side-nav li a{
    color: white;
}
#side-nav ul.nav li:hover,
#side-nav ul.nav  li a:hover{
  background-color: #2c64a8;
  color: white;
}

#side-nav ul.nav  li a:hover{
  cursor: pointer
}
#side-nav ul li.active,
#side-nav ul li.active a{
    background-color: #124c91;

}

#side-nav.can-assign ul li.active,
#side-nav.can-assign ul li.active a{
    background-color: #124c91;
    background-color: #06916B;
}

.outer-container {
  overflow-y: scroll;
  height: 100vh;
}
.no-touchevents .panel-heading i.edit, .list-group-item i.edit, .list-group-item i.delete {
  display: block;
  color: #ccc;
}

.touchevents .panel-heading i.edit,
.touchevents .panel-heading i.delete,
.panel-heading:hover i.edit,
.list-group-item:hover i.edit,
.list-group-item:hover i.delete{
  color: black;
  cursor: pointer;
}

.odonto-referral-detail {
    overflow-y: scroll;
    height: 80vh;
}
.green {
    color: #9cc96b;
}
.c3-xgrid-focus line { display: none; }

.supernumber {
  font-size: 98px;
  text-align: center;
  padding: 12px;
}
.superlabel{
  text-align: center;
  padding-bottom: 12px;
}
.superstat {
  background-color: #3ebc99;

}
.superstat.failing {
  background-color: red;
  color: white;
}

.btn.btn-default small{
  color: #CCC;
}

.btn.btn-default small{
  color: #CCC;
}

.panel-margin{
  padding-left: 15px;
}



/*
* switch user css
*/

.switch-user-bar{
  position: fixed;
  height: 60px;
  width: 30%%;
  bottom: 0;
  right: 0;
}

.switch-user-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #9CBEE6;
  opacity: 0.4;
}

.switch-user-container{
  padding-top: 10px;
}


.btn.can-refer{
  background-color: #5E52C4;
  background-color: #487DBC;
  color: white;
}

.btn.can-refer.btn-active{
  background-color: white;
  color: #5E52C4;
  color: #487DBC;
}


.btn.can-assign{
  background-color: #281A9A;
  background-color: #3EBC99;
  color: white;
}

.btn.can-assign.btn-active{
  background-color: white;
  color: #281A9A;
  color: #3EBC99;
}

.btn.can-confirm{
  background-color: #124c91;
  background-color: #5E52C4;
  color: white;
}

.btn.can-confirm.btn-active{
  background-color: white;
  color: #124c91;
  color: #5E52C4;
}


table.patient-list {
  font-size: 16px;
}

.panel {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}
.panel-footer {
    background: none;
}

.panel.panel-primary .panel-heading.pathway-header{
  background: none;
  border-color:  rgb(72, 124, 188);
}
