// Variables
$odonto_blue: #487CBC;
$artichoke: #84A07C;
$rifle_green: #3C4939;
$cambridge_blue: #A3C9A8;
$black_coral: #595F72;
$gunmetal: #21232A;
$bone: #DDD8C4;
$error_red: #DE3C4B;
$screen-sm-min: 768px;


// Color and typography
.cambridge_blue {
    color: $cambridge_blue;
}
.bg-bone {
    background-color: $bone;
}

body {
    background-color: white;
    font-size: 18px;
    color: $gunmetal;
    overflow-y: hidden;
}

h1 {
    color: darken($odonto_blue, 8%);
}

h2 {
    color: $rifle_green;
}

h3 {
    font-size: 20px;
}

table {
    font-size: 18px;
}

p a, a {
    color: $black_coral;
}

a:hover {
    color: darken($black_coral, 8%);
}

.form-control {
    color: $black_coral;
    border-radius: 0px;
}

.form-horizontal{
    padding-left: 20px;
}

.form-horizontal .control-label,
label{
  text-align: left;
  font-size: 18px;
  color: $black_coral;
  font-weight: normal;
}



.with-decline{
    .form-group{
        margin-bottom: 5px;
    }

    .btn-checkbox{
        float: right;
    }

    margin-bottom: 10px;
}

.help-block {
    color: $error_red;
}

.btn {
    border-radius: 0px;
}

.btn.btn-radio-group{
    font-size: 18px;
    line-height: 24px;
    padding: 12px 18px;
}

.btn.btn-checkbox {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  text-align: center;
  padding: 8px 0px 0px 0px;
}

.btn-default {
    color: $black_coral;

    &.active {
        background-color: $cambridge_blue;
        border-color: darken($cambridge_blue, 8%);
        color: $black_coral;
    }
}

.btn-error{
    .btn-default, .active.btn-default{
        background-color: $error_red;
        border-color: darken($error_red, 2%);
    }
}

.btn-primary.disabled {
    background-color: $black_coral;
    border-color: darken($black_coral, 2%);
    color: $bone;
}

.panel.panel-primary .panel-heading  .btn-primary,
.btn-primary,
.btn-primary:focus{
    background-color: $cambridge_blue;
    border-color: darken($cambridge_blue, 8%);
    color: $black_coral;
}

.panel.panel-primary .panel-heading  .btn-primary:hover,
.btn-primary:hover {
    color: $black_coral;
    font-weight: normal;
    background-color: darken($cambridge_blue, 8%);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus{
    background-color: $cambridge_blue;
    border-color: darken($cambridge_blue, 8%);
    color: $black_coral;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

#episode-history h4 {
    color: white;
    text-decoration: underline;
    font-size: 16px;
}

#episode-history a {
    font-size: 16px;
    color: white;
    display: block;
}

#episode-history a:hover,
#episode-history a:visited,{
    color: white;
    font-size: 16px;
}

#episode-history a.bg-active {
    background-color: darken($odonto_blue, 8%);
}

// Layout and positioning
h1 {
    margin-top: 24px;
    margin-bottom: 36px;
}

h2 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.offset-below {
    margin-bottom: 48px;
}

.form-horizontal .control-label,
label{
  padding-bottom: 8px;
}

.pathway-save-button .btn {
    margin-top: 32px;
    margin-left: -15px;
    margin-bottom: 64px;
}

.odonto-checkbox{
    .btn-checkbox{
        float: right;
    }
    @for $i from 1 through 50 {
        label.col-md-#{$i}{
            padding-left: 0px;
        }
    }
}


#episode-history {
  position: fixed;
  left: 20px;
  top: 300px;
  margin-left: 25px;
  @media(max-width: 991px){
    display: none;
  }
}

h5{
   font-size: inherit;
   font-weight: bold;
   margin-bottom: 8px;
}

#episode-history a{
    padding: 5px;
}


.patient-detail-heading {
    margin-top: 110px;
}
.open-claim-button {
    margin-right: 12px;
}

.top-header{
    position: fixed;
    color: white;

    a{
        color: white;
        &:hover{
            text-decoration: none;
            color: $bone;

            small{
                color: $bone;
            }
        }
    }

    // modal z index 1050, nav bar is 1030
    z-index: 1040;
    top: 0;
}

// Unconverted
.form-control {
    font-size: 18px;
    height: 48px;
}
.btn-lg, .btn-lg:hover{
    padding: 6px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
}

.btn-checkbox.btn-lg:hover{
    padding: 8px 0;
}

.btn-default small{
  color: #DDD;
}


.main-view{
    overflow-x: auto;
}

.navbar-default, .top-navbar {
    border-bottom: none;
}

.top-navbar {
    height: 90px;
    background-color: #487DBC;
}
.nav-bar-search .form-control {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
}

.nav-bar-search:before {
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
#main-navbar {
    margin-top: 20px;
}
.ngProgressLiteBar {
    display: none;
}
.content-offset {
    margin-top: 100px;
}
.content-offset-below-150{
    margin-bottom: 150px;
}
.pathway-offset {
    margin-top: 80px;
}

.nav-bar-links{
    margin-top: -5px;
}

.nav-bar-odonto-container{
  position: fixed;
  margin-top: -106px;
  z-index: 1040;
  left: 50%;
}
.nav-bar-odonto-title{
  margin-left: -50%;
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.odonto-small-title{
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}

.loading {
  background-color: white;
  height: 100%;
  position: fixed;
  width: 1100%;
  z-index: 100;
  padding-left: 0px;
  margin-left: -20px;
}
.pathway-process-steps-padding {
    margin-top: 60px;
}
.btn-choices button {
  width: 240px;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: rgb(212,212,212);
  color: white;
}

.btn-choices button.active {
  background-color:  rgb(72, 124, 188)
}


.odonto-list {
    margin-top: 90px;
    padding: 20px;
}

.patient-detail-heading h1,
.patient-detail-heading h1 small {
    color: rgb(72, 124, 188);

}
.panel.panel-primary .panel-heading{
    color: black;
}

.odonto-detail {
    margin-top: 100px;
/*     background-color: firebrick */
}
.odonto-detail h2 {
    padding-bottom: 20px;
}

.odonto-detail .panel-default {
    border: none;
}

.panel-primary .panel-default .panel-heading,
.panel-default .panel-heading {
    border-bottom: 3px solid rgb(72, 124, 188);
}

.search-panel.panel.panel-primary .panel-heading {
  background-color: transparent;
  border-bottom: 3px solid rgb(72, 124, 188);
}
.modal-header{
    background-color: rgb(72, 124, 188);
    h3{
        font-size: 24px;
        padding-left: 20px;
    }
}


.panel.panel-primary .panel-heading {
    background-color: transparent;
    border-bottom: 3px solid rgb(72, 124, 188);
}

.navbar-default .container-fluid a.navbar-brand {
    color: white;
    margin-left: 15px;

    &:hover{
        color: white;
    }

    img{
        height: 80px;
        margin-top: -12px;
        display: block;
        margin-bottom: 6px;
        padding-left: 15px;
    }
}

#side-nav {
  background-color: #487DBC;
  height: 100vh;

  @media(max-width: 991px){
    display: none;
  }
}


ul.app-info {
  padding-top: 160px;
  padding-bottom: 30px;
}
.app-info li {
  padding-left: 32px;
  color: white;
}

#side-nav {
    overflow: scroll;
    background-color: $odonto_blue;
    position: fixed;

    #logout {
        position: fixed;
        bottom: 0px;

        @media(max-height: 650px){
            position: static;
            margin-top: 100%;

            ul.app-info{
                padding-top: 12px;
            }

        }
    }

    .navbar-nav{
        width: 100%;
    }

    ul.nav li{
        float: none;

        i {
            padding-right: 4px;
        }

        a{
            padding-left: 26px;
        }

        .badge{
            float: right;
            background-color: white;
            color: #124c91;
        }

        &:hover a, a:hover, &:hover{
            background-color: #2c64a8;
            color: white;
            cursor: pointer;
        }

        &.active, &.active a{
            background-color: #124c91;
        }
    }

    hr {
        margin-left: 5%
    }

    a{
        color: white;
    }
}


.outer-container {
  overflow-y: scroll;
  height: 100vh;
}

.no-touchevents .panel-heading i.edit, .list-group-item i.edit, .list-group-item i.delete {
  display: block;
  color: #ccc;
}

.touchevents .panel-heading i.edit,
.touchevents .panel-heading i.delete,
.panel-heading:hover i.edit,
.list-group-item:hover i.edit,
.list-group-item:hover i.delete{
  color: black;
  cursor: pointer;
}

.btn.btn-default small{
  color: #CCC;
}

.btn.btn-default small{
  color: #CCC;
}

.panel-margin{
  padding-left: 15px;
}


table.patient-list {
  font-size: 16px;
}

.panel {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}
.panel-footer {
    background: none;
}

.panel.panel-primary .panel-heading.pathway-header{
  background: none;
  border-color:  rgb(72, 124, 188);
}

.dental-chart .right {
    float: right;
}
.chart-tooth {
    float: left;
}
.chart-tooth label.notation {
    display: block;
    border: 1px solid #ccc;
    padding: 0px;
    margin-top: 1px;
    text-align: center;
}
.btn.btn-tooth {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  text-align: center;
  padding: 8px 0px 0px 0px;
}

.extraction-chart{
    padding-left: 20px;

    .upper{
        border-bottom: 2px solid #ddd;
    }
    .patient-right{
        border-right: 2px solid #ddd;
        text-align: right;
    }
}

.radio-buttons{
    @media(max-width: $screen-sm-min){
        .btn-group{
            width: 100%;
        }
        .btn-radio-group{
            display: block;
        }
    }
}

.errored-state select{
    background-color: #fcc;
}

.record-panel h3{
    font-size: 30px;

    i{
        margin-top: 5px;
    }
}

.patient-consultation-long-form{
    line-height: 26px;
    letter-spacing: 0.04em;
    word-spacing: 0.1em;
    text-align: justify;
}

.stats-page{
    @mixin number-block {
        background-color: lighten($black_coral, 10%);
        padding: 20px;
        color: white;
        h1{
            color: white;
            font-size: 54px;
        }
    }
    .left-block{
        @include number-block;
        margin-right: 40px;
    }

    .centre-block{
        @include number-block;
        margin-right: 20px;
        margin-left: 20px;
    }

    .right-block{
        @include number-block;
        margin-left: 40px;
    }

}

.case-mix-popover{
    width: 400px;
    li{
        margin-left: 20px;
        list-style-type: disc;
        font-weight: normal;
    }
}

.table > tbody > tr > td.subrecord-row-value{
    width: 40%;
    padding-left: 8%;
}

.datetime-picker{
    .time-picker{
        padding-left: 20px;
        padding-top: 6px;
    }
    .btn.btn-default{
        margin-left: 4px;
    }
}


.view-switcher{
    padding-top: 20px;
    .btn-group{
        .btn{
            padding: 10px 20px;
            margin-top: 4px;
        }
    }
}
