{% extends "registration/password_reset_base.html" %}
{% block content %}
<div class="content-offset container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Reset Password</h2>
    </div>
    <div class="panel-body">
      <p class="lead text-center content-offset-10">
        <form method="POST" class="center-block" >
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-8 col-md-offset-2">
              <div class="row">
                <div class="col-md-12">
                  {% if form.email.errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.email.errors %}
                    <p>{{ error|escape }}</li>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label for="id_email">{{ form.email.label_tag }}</label>
                <div class="row">
                  <div class="col-sm-10">
                  {{ form.email }}
                  </div>
                </div>
              </div>
              <div class="form-group content-offset">
                <div class="col-sm-9 col-sm-offset-3">
                  <button class="btn btn-lg btn-secondary">
                    <i class="fa fa-envelope"></i>
                    Send email
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p>
    </div>
  </div>
</div>
{% endblock %}