{% load forms %}
{% datepicker field="CovidTriage.date_of_contact" %}
{% timepicker field="CovidTriage.time_of_contact" %}
{% checkbox field="CovidTriage.data_care_professional" %}
{% input field="CovidTriage.primary_reason" %}
{% input field="CovidTriage.covid_status" %}
{% checkbox field="CovidTriage.triage_via_video" %}
{% checkbox field="CovidTriage.advice_given" %}
{% checkbox field="CovidTriage.advised_analgesics" %}
{% checkbox field="CovidTriage.remote_prescription_analgesics" %}
{% checkbox field="CovidTriage.remote_prescription_antibiotics" %}
{% checkbox field="CovidTriage.follow_up_call_required" %}
{% checkbox field="CovidTriage.call_back_if_symptoms_worsen" %}
{% input field="CovidTriage.referrered_to_local_udc_reason" %}
{% checkbox field="CovidTriage.face_to_face_appointment" %}