{% load forms %}
{% load odonto_forms %}
<div class="row">
  <div class="col-md-6">
    {% btn_radio field="Fp17IncompleteTreatment.incomplete_treatment" %}
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    {% odonto_datepicker field="Fp17IncompleteTreatment.date_of_acceptance" style="vertical" required=True %}
  </div>
  <div class="col-md-5 col-md-offset-1">
    {% odonto_datepicker field="Fp17IncompleteTreatment.completion_or_last_visit" style="vertical" %}
    <div class="row">
      <button class="btn btn-secondary" ng-click="completion_same_as_acceptance()">
        Same as acceptance
      </button>
    </div>
  </div>
</div>
