{% load forms %}
{% checkbox field="Fp17ClinicalDataSet.scale_and_polish" style="vertical" %}
{% checkbox field="Fp17ClinicalDataSet.fluoride_varnish" style="vertical" %}
{% input field="Fp17ClinicalDataSet.fissure_sealants" maxlength="2" unit="teeth" %}
{% input field="Fp17ClinicalDataSet.radiographs_taken" maxlength="2" %}
{% checkbox field="Fp17ClinicalDataSet.endodontic_treatment" %}
{% input field="Fp17ClinicalDataSet.permanent_fillings_and_sealant_restorations" %}
{% input field="Fp17ClinicalDataSet.extractions" %}
{% input field="Fp17ClinicalDataSet.crowns_provided" %}
{% input field="Fp17ClinicalDataSet.upper_denture_acrylic" %}
{% input field="Fp17ClinicalDataSet.lower_denture_acrylic" %}
{% input field="Fp17ClinicalDataSet.upper_denture_metal" %}
{% input field="Fp17ClinicalDataSet.lower_denture_metal" %}
{% input field="Fp17ClinicalDataSet.veneers_applied" %}
{% input field="Fp17ClinicalDataSet.inlays" %}
{% input field="Fp17ClinicalDataSet.bridges_fitted" %}
{% input field="Fp17ClinicalDataSet.referral_for_advanced_mandatory_services_band" %}
{% checkbox field="Fp17ClinicalDataSet.examination" %}
{% input field="Fp17ClinicalDataSet.antibiotic_items_prescribed" %}
{% checkbox field="Fp17ClinicalDataSet.other_treatment" %}
{% checkbox field="Fp17ClinicalDataSet.best_practice_prevention_according_to_delivering_better_oral_health_offered" %}
{% input field="Fp17ClinicalDataSet.decayed_teeth_permanent" %}
{% input field="Fp17ClinicalDataSet.decayed_teeth_deciduous" %}
{% input field="Fp17ClinicalDataSet.missing_teeth_permanent" %}
{% input field="Fp17ClinicalDataSet.missing_teeth_deciduous" %}
{% input field="Fp17ClinicalDataSet.filled_teeth_permanent" %}
{% input field="Fp17ClinicalDataSet.filled_teeth_deciduous" %}
