{% load odonto_forms %}
<div class="row">
  <div class="col-md-3">
    {% btn_checkbox field="Fp17ClinicalDataSet.examination" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="Fp17ClinicalDataSet.fluoride_varnish" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="Fp17ClinicalDataSet.other_treatment" %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
    {% btn_checkbox field="Fp17ClinicalDataSet.scale_and_polish" %}
  </div>
  <div class="col-md-7 col-md-offset-1">
    {% btn_checkbox field="Fp17ClinicalDataSet.best_practice_prevention" field_size=11 unit="number" style="vertical" %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-1">
    {% teeth field="Fp17ClinicalDataSet.fissure_sealants" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% number field="Fp17ClinicalDataSet.radiographs_taken" min="0" maxlength="2" unit="number" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% charfield field="Fp17ClinicalDataSet.endodontic_treatment" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.veneers_applied" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.bridges_fitted" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.crowns_provided" %}
  </div>
</div>

<div class="row content-offset-20">
  <div class="col-md-1">
    {% teeth field="Fp17ClinicalDataSet.upper_denture_acrylic" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.lower_denture_acrylic" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.lower_denture_metal" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.upper_denture_metal" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% number field="Fp17ClinicalDataSet.antibiotic_items_prescribed" min="0" maxlength="2" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% number field="Fp17ClinicalDataSet.aerosol_generating_procedures" min="0" maxlength="2" %}
  </div>
</div>

<div class="row content-offset-20">
  <div class="col-md-1">
    {% teeth field="Fp17ClinicalDataSet.extractions" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.inlays" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.permanent_fillings" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.pre_formed_crowns" %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
    {% number field="Fp17ClinicalDataSet.advanced_perio_root_surface_debridement" min="1" max="6" unit="sextant" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% number label="Referral for Advanced Mandatory Services (AMS)" field="Fp17ClinicalDataSet.referral_for_advanced_mandatory_services_band" unit="band" min="1" max="3" %}
  </div>
</div>

<div class="row content-offset-20">
  <div class="col-md-1">
    {% teeth field="Fp17ClinicalDataSet.decayed_teeth_permanent" max="32" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.decayed_teeth_deciduous" max="20" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.filled_teeth_permanent" max="32" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.filled_teeth_deciduous" max="20" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.missing_teeth_permanent" max="32" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% teeth field="Fp17ClinicalDataSet.missing_teeth_deciduous" max="12" %}
  </div>
</div>

<div class="row content-offset-20">
  <div class="col-md-3">
    {% btn_radio field="Fp17ClinicalDataSet.custom_made_occlusal_appliance" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="Fp17ClinicalDataSet.denture_additions_reline_rebase" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="Fp17ClinicalDataSet.phased_treatment" %}
  </div>
</div>
