{% load forms %}
{% load odonto_forms %}
<div class="row">
  <div class="col-md-3">
    {% btn_checkbox field="Fp17ClinicalDataSet.examination" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="Fp17ClinicalDataSet.fluoride_varnish" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="Fp17ClinicalDataSet.other_treatment" %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
    {% btn_checkbox field="Fp17ClinicalDataSet.scale_and_polish" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="Fp17ClinicalDataSet.best_practice_prevention" unit="number" style="vertical" %}
  </div>
  <div class="col-md-3 col-md-offset-1">

  </div>
</div>

<div class="row content-offset-20">
  <div class="col-md-1">
    {% input field="Fp17ClinicalDataSet.fissure_sealants" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.radiographs_taken" maxlength="2" unit="number"  style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.endodontic_treatment" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.veneers_applied" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.bridges_fitted" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.crowns_provided" unit="teeth" maxlength="2" style="vertical" %}
  </div>
</div>

<div class="row content-offset-20">
  <div class="col-md-1">
    {% input field="Fp17ClinicalDataSet.upper_denture_acrylic" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.lower_denture_acrylic" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.lower_denture_metal" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.upper_denture_metal" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.antibiotic_items_prescribed" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">

  </div>
</div>

<div class="row content-offset-20">
  <div class="col-md-1">
    {% input field="Fp17ClinicalDataSet.extractions" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.inlays" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% input label="Referral for Advanced Mandatory Services (AMS)" field="Fp17ClinicalDataSet.referral_for_advanced_mandatory_services_band" unit="band" style="vertical" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.permanent_fillings_and_sealant_restorations" unit="teeth" maxlength="2" style="vertical" %}
  </div>
</div>

<div class="row content-offset-20">
  <div class="col-md-1">
    {% input field="Fp17ClinicalDataSet.decayed_teeth_permanent" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.decayed_teeth_deciduous" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.filled_teeth_permanent" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.filled_teeth_deciduous" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.missing_teeth_permanent" unit="teeth" maxlength="2" style="vertical" %}
  </div>
  <div class="col-md-1 col-md-offset-1">
    {% input field="Fp17ClinicalDataSet.missing_teeth_deciduous" unit="teeth" maxlength="2" style="vertical" %}
  </div>
</div>
