{% load forms %}
{% load odonto_forms %}
<div class="row content-offset-20">
  <div class="col-md-12">
    {% btn_radio field="OrthodonticAssessment.assessment" required=False %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
    {% number field="OrthodonticAssessment.iotn" min=1 max=5 %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="OrthodonticAssessment.iotn_not_applicable" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% charfield field="OrthodonticAssessment.aesthetic_component" %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
    {% odonto_datepicker field="OrthodonticAssessment.date_of_referral" style="vertical" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% odonto_datepicker field="OrthodonticAssessment.date_of_assessment" style="vertical" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% odonto_datepicker field="OrthodonticAssessment.date_of_appliance_fitted" style="vertical" %}
  </div>
</div>


