{% load forms %}
{% load odonto_forms %}
<div class="row content-offset-20">
  <div class="col-md-3">
    {% number field="OrthodonticDataSet.radiograph" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% number field="OrthodonticDataSet.aerosol_generating_procedures" %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
    {% btn_checkbox field="OrthodonticDataSet.removable_upper_appliance" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="OrthodonticDataSet.fixed_upper_appliance" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="OrthodonticDataSet.retainer_upper" %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
    {% btn_checkbox field="OrthodonticDataSet.removable_lower_appliance" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="OrthodonticDataSet.fixed_lower_appliance" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="OrthodonticDataSet.retainer_lower" %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
    {% btn_checkbox field="OrthodonticDataSet.function_appliance" %}
  </div>
</div>
