{% load forms %}
{% load odonto_forms %}
<div class="row content-offset-20">
  <div class="col-md-12">
    {% btn_radio field="OrthodonticTreatment.completion_type" required=False %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-4">
    {% btn_radio field="OrthodonticTreatment.iotn" required=False %}
  </div>
  <div class="col-md-3">
    {% number field="OrthodonticTreatment.aesthetic_component" min=1 max=10 %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
    {% btn_checkbox field="OrthodonticTreatment.par_scores_calculated" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="OrthodonticTreatment.repair" %}
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% btn_checkbox field="OrthodonticTreatment.replacement" %}
  </div>
</div>
<div class="row content-offset-20">
  <div class="col-md-3">
      {% odonto_datepicker field="OrthodonticTreatment.date_of_completion" style="vertical" %}
  </div>
</div>







