<span ng-show="item.treatment_category_band_1">
     Treatment Category Band 1
   <br />
</span>
<span ng-show="item.treatment_category_band_2">
     Treatment Category Band 2
   <br />
</span>
<span ng-show="item.treatment_category_band_3">
     Treatment Category Band 3
   <br />
</span>
<span ng-show="item.urgent_treatment">
     Urgent Treatment
   <br />
</span>
<span ng-show="item.regulation_11_replacement_appliance">
     Regulation 11 Replacement Appliance
   <br />
</span>
<span ng-show="item.prescription_only">
     Prescription Only
   <br />
</span>
<span ng-show="item.denture_repairs">
     Denture Repairs
   <br />
</span>
<span ng-show="item.bridge_repairs">
     Bridge Repairs
   <br />
</span>
<span ng-show="item.arrest_of_bleeding">
     Arrest Of Bleeding
   <br />
</span>
<span ng-show="item.removal_of_sutures">
     Removal Of Sutures
   <br />
</span>