<span ng-show="item.patient_under_18">
     Patient Under 18
   <br />
</span>
<span ng-show="item.full_remission_hc2_cert">
     Full Remission Hc2 Cert
   <br />
</span>
<span ng-show="item.partial_remission_hc3_cert">
     Partial Remission Hc3 Cert
   <br />
</span>
<span ng-show="item.expectant_mother">
     Expectant Mother
   <br />
</span>
<span ng-show="item.nursing_mother">
     Nursing Mother
   <br />
</span>
<span ng-show="item.aged_18_in_full_time_education">
     Aged 18 In Full Time Education
   <br />
</span>
<span ng-show="item.income_support">
     Income Support
   <br />
</span>
<span ng-show="item.nhs_tax_credit_exemption">
     Nhs Tax Credit Exemption
   <br />
</span>
<span ng-show="item.income_based_jobseekers_allowance">
     Income Based Jobseekers Allowance
   <br />
</span>
<span ng-show="item.pension_credit_guarantee_credit">
     Pension Credit Guarantee Credit
   <br />
</span>
<span ng-show="item.prisoner">
     Prisoner
   <br />
</span>
<span ng-show="item.income_related_employment_and_support_allowance">
     Income Related Employment And Support Allowance
   <br />
</span>
<span ng-show="item.universal_credit">
     Universal Credit
   <br />
</span>
<span ng-show="item.evidence_of_exception_or_remission_seen">
     Evidence Of Exception Or Remission Seen
   <br />
</span>
<span ng-show="item.patient_charge_collected">
    [[ item.patient_charge_collected ]]
   <br />
</span>