<div class="row odonto-checkbox">
  <label class="col-md-{{ label_size }} control-label">{{ label }}</label>
  <label uib-btn-checkbox
         ng-model="{{ model }}"
         {% if change %}ng-change="{{ change }}"{% endif %}
         class="btn btn-lg btn-default btn-checkbox col-md-{{ field_size }}"
         >
    <span ng-show="{{ model }} == 1">X</span>
  </label>
</div>
<div ng-show="errors['{{ model_api_name }}']['{{ field_name }}']" class="row content-offset-below-20 content-offset-10 content-offset-below-20 help-block">
    [[ errors['{{ model_api_name }}']['{{ field_name }}'] ]]
</div>
