{% load odonto_forms %}
<div class="dental-chart">
  <div class="row">
    <div class="col-md-6">
      <div class="right">
        {% chart_tooth "URE" %}
        {% chart_tooth "URD" %}
        {% chart_tooth "URC" %}
        {% chart_tooth "URB" %}
        {% chart_tooth "URA" %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="left">
        {% chart_tooth "ULA" %}
        {% chart_tooth "ULB" %}
        {% chart_tooth "ULC" %}
        {% chart_tooth "ULD" %}
        {% chart_tooth "ULE" %}
      </div>
    </div>
  </div>
  <div class="row content-offset-10">
    <div class="col-md-6">
      <div class="right">
        {% chart_tooth "UR8" %}
        {% chart_tooth "UR7" %}
        {% chart_tooth "UR6" %}
        {% chart_tooth "UR5" %}
        {% chart_tooth "UR4" %}
        {% chart_tooth "UR3" %}
        {% chart_tooth "UR2" %}
        {% chart_tooth "UR1" %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="left">
        {% chart_tooth "UL1" %}
        {% chart_tooth "UL2" %}
        {% chart_tooth "UL3" %}
        {% chart_tooth "UL4" %}
        {% chart_tooth "UL5" %}
        {% chart_tooth "UL6" %}
        {% chart_tooth "UL7" %}
        {% chart_tooth "UL8" %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="right">
        {% chart_tooth "LR8" label=0 %}
        {% chart_tooth "LR7" label=0 %}
        {% chart_tooth "LR6" label=0 %}
        {% chart_tooth "LR5" label=0 %}
        {% chart_tooth "LR4" label=0 %}
        {% chart_tooth "LR3" label=0 %}
        {% chart_tooth "LR2" label=0 %}
        {% chart_tooth "LR1" label=0 %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="left">
        {% chart_tooth "LL1" label=0 %}
        {% chart_tooth "LL2" label=0 %}
        {% chart_tooth "LL3" label=0 %}
        {% chart_tooth "LL4" label=0 %}
        {% chart_tooth "LL5" label=0 %}
        {% chart_tooth "LL6" label=0 %}
        {% chart_tooth "LL7" label=0 %}
        {% chart_tooth "LL8" label=0 %}
      </div>
    </div>
  </div>
  <div class="row content-offset-10">
    <div class="col-md-6">
      <div class="right">
        {% chart_tooth "LRE" %}
        {% chart_tooth "LRD" %}
        {% chart_tooth "LRC" %}
        {% chart_tooth "LRB" %}
        {% chart_tooth "LRA" %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="left">
        {% chart_tooth "LLA" %}
        {% chart_tooth "LLB" %}
        {% chart_tooth "LLC" %}
        {% chart_tooth "LLD" %}
        {% chart_tooth "LLE" %}
      </div>
    </div>
  </div>
</div>
